#root {
  width: 90%;
}

.app {
  display: flex;
  justify-content: space-between;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  padding: 1%;
  font-size: 2em;
}

.quote h2 {
  text-align: center;
}

blockquote {
  text-align: justify;
}

.quote p {
  font-size: 1.1em;
  text-align: right;
  font-weight: 700;
}

.calcul {
  width: 40%;
}

.result {
  background: #91929c;
  font-size: 2em;
  padding: 3% 1%;
  color: white;
  text-align: right;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #e6e6e6;
}

button {
  background: #e0e0e0;
  border: none;
  padding: 24px 4px;
  font-size: 1.1em;
  font-weight: 700;
  border-right: 1px solid #e6e6e6;
  cursor: pointer;
}

button:hover {
  background: #c4c4c4;
}

.row button:last-child {
  border-right: none;
}

.row button:last-child:hover {
  background: #ff8000;
}

.orange {
  background: #f99028;
}

.zero {
  grid-column: span 2;
}
